header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.big-w {
  font-family: "Flowstate-Outline";
  color: black;
  font-size: 4rem;
  padding-top: 16px;
  will-change: filter;
  transition: filter 300ms;
  margin: 0;
}
.home-button {
  padding: 20px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: rgb(238, 216, 246);
  cursor: pointer;
  border: none;
  transition:
    border-color 0.25s,
    transform 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .big-w {
    font-size: 2rem;
    padding-top: 8px;
  }

  .home-button {
    height: 3rem;
    width: 3rem;
  }
}

.home-button:hover {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
